<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a href="/" class="nav-item">Home</a> 
            {{#if logged_in}}
                <a href="/dashboard" class="nav-item">Dashboard</a> 
                <a id="logout" href="#" class="nav-item">Logout</a>
            {{else}}
                <a href="/login" class="nav-item">Login</a>
                <a href="/signup" class="nav-item">Sign Up</a>
            {{/if}}
        </nav>
    </header>
    {{{body}}}
    <script src="/js/logout.js"></script>
    <script src="/js/comment.js"></script>
    <script src="/js/editComment.js"></script>
    <script src="/js/deleteComment.js"></script>
</body>
</html>