<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a href="/">Home</a>
            {{#if logged_in}}
                <a href="/dashboard">Dashboard</a>
                <a id="logout" href="#">Logout</a>
            {{else}}
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
            {{/if}}
        </nav>
    </header>
    {{{body}}}
    <script src="/js/logout.js"></script>
    <script src="/js/comment.js"></script>
    <script src="/js/editComment.js"></script>
    <script src="/js/deleteComment.js"></script>
</body>
</html>