<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Talk</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{#if loggedIn}}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>&copy; 2024 Tech Talk</p>
    </footer>
</body>
</html>

<script src'/public/js/logout.js'></script> 