<h1>Talking Tech</h1>

<h2>Recent Posts</h2>
{{#each posts}}
    {{> post logged_in=../logged_in logged_in_user_id=../logged_in_user_id}}
    
{{/each}}

{{!-- 
{{#each posts}}
    {{> post}}
     {{#if logged_in}}
        <p>Debug: User is logged in</p>
        <form class="new-comment-form" data-post-id="{{id}}">
            <textarea name="comment_text" placeholder="Add a comment" required></textarea>
            <button type="submit">Post Comment</button>
        </form>
    {{else}}
        <p>Debug: User is not logged in</p>
        <p><a href="/login">Log in to add a comment</a></p>
    {{/if}}
{{/each}}
 --}}
