<h1>Login</h1>
<form id="login-form">
    <input type="text" name="username" id="username-login" placeholder="Username" required>
    <input type="password" name="password" id="password-login" placeholder="Password" required>
    <button type="submit">Login</button>
</form>
<script src="/js/login.js"></script>

{{!-- <div class='card'>
    <h2>Login</h2>
    <form class="login-form">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <a href="/signup">Don't have an account? Sign up</a>
</div>

<script src="/js/login.js"> --}}