body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
;
    background-color: rgb(188, 219, 209);
}

.nav-bar {
    background-color: bisque;
    padding: 10px;
   
}
.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    flex: 0 1 24%; /* Adjust the width of each comment */
    margin: 1rem 0.5em;
    box-sizing: border-box;
    background-color: #f1f1f1;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

.nav-item {
   
    padding: 10px;
}

.post {
    margin-bottom: 20px;
}

form {
    margin: 20px 0;
}


